*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: #C4FCEC;
}
#Wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;;
}
header img {
    width: 100%;
    display: block;
}
nav {
    overflow: hidden;
}
nav a {
    display: block;
    width: 25%;
    float: left;
    background-color: #20E5E8;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
a.Menu:hover {
    font-size: 20px;
    background-color: #1B18E6;
}
.active {
    background-color: #1B18E6;
}
article {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 20px 30px 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #20E5E8;
}
img.Logo {
    width: 25%;
    height: 25%;
    float: left;
    padding: 15px;
    border-radius: 50% 30%;
}
article p {
    text-align: justify;
    font-size: 18px;
}
iframe {
    width: 100%;
}
footer {
    line-height: 30px;
}
@media screen and (max-width: 800px) {
    nav a {
        width: 50%;
    }
}