*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: red;
}
#Wrapper {
    max-width: 1300px;
    margin: 0 auto;
    background-color: white;;
}
header img {
    width: 100%;
    display: block;
}
nav {
    background-color: yellowgreen;
}
nav a {
    display: inline-block;
    width: 33%;
    padding: 15px 30px;
    text-align: center;
}
a.Menu:hover {
    font-size: 20px;
    background-color: teal;
}
.active {
    background-color: teal;
}
article {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 20px 30px 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid red;
}
img.Logo {
    width: 25%;
    height: 25%;
    float: left;
    padding: 15px;
    border-radius: 50% 30%;
}
article p {
    text-align: justify;
    font-size: 18px;
}